NODE_ID=node-mumbai-01
DAEMON_PORT=8443
DAEMON_BIND_HOST=127.0.0.1
DAEMON_PUBLIC_HOST=in-01.fluxplus.in
DAEMON_PUBLIC_PROTOCOL=https
FLUX_WINGS_SHARED_API_KEY=astranodes_1122334455
FLUX_PANEL_FULL_ACCESS_API_KEY=astramesh_1234567890
FLUX_PAPER_USER_AGENT=FluxPlusCore/1.0.0 (https://core.fluxplus.in)
